/* font size change from portrait to landscape prevention */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}
/* natural box model */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: $defaultFont;
    font-weight: $normalWeight;
    color: $fontColorDark;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gutter;
    padding: $gutter;
    .wordIcon{
        display: flex;
        h1 {
            margin: 0;
            font-size: 2rem;
            font-weight: $normalWeight;
            padding-left: .5rem;
        }
    }
    
}

#navWrapper {
    background-color: $primaryColor;
}
nav {
    button{
        padding: 1rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: rgba(255,255,255,0.9);
    }
    button span:nth-child(1){display: block;}
    button span:nth-child(2){display: none;}
    button.open span:nth-child(1){display: none;}
    button.open span:nth-child(2){display: block;}
    ul {
        display: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-top: 1px solid rgba(255,255,255,0.3);
        &.open{display: block;} // css specificity issue when growing to large screen size
        li{
            border-bottom: 1px solid rgba(255,255,255,0.3);
            a {
                display: block;
                padding: 1rem $gutter;
                color: $fontColorLight;
                
                text-decoration: none;
                font-weight: $lightWeight;
                &:hover{background-color: darken($primaryColor, 4%);}
            }
            &.active a{background-color: darken($primaryColor, 8%);}
        }
    }

}

#hero{
    position: relative;
    picture{
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    h1{
        margin: 0;
        width: 100%;
        position: absolute;
        background: linear-gradient(90deg, rgba(98,59,90,0) 0%, rgba(98,59,90,1) 50%, rgba(98,59,90,0) 100%);
        color: white;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        top: calc(70% - 20px);
    }
}
main {
    padding: $gutter;

    #serviceWrapper{
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid $primaryColor;
            border-radius: 10px;
            overflow: hidden;
            margin: 1rem 0;
            padding: 1rem 0;
            h2, p{
                margin: 0;
                padding: 1rem $gutter;
                width: 100%;
            }
            h2{
                background-color: $primaryColor;
                color: $fontColorLight;
                font-size: 1.5rem;
                text-align: center;
            }
            img{
                margin: 1rem 0;
                display: block;
            }
            button{
                padding: 1rem;
                border-radius: 8px;
                background-color: $primaryColor;
                color: $fontColorLight;
                text-decoration: none;
                font-weight: $lightWeight;
                &:hover{
                    background-color: darken($primaryColor, 4%);
                    cursor: pointer;
                }
            }
        }

    } // end card wrapper

    #reviewWrapper{
        background-color: #f7f7f7;
        padding: 2rem 0;
        text-align: center;
        section{
            h3{
                margin: 3rem $gutter 0 $gutter;
                color: $secondaryColor;
            }
            img{
                margin: .5rem 0;
                width: 1.5rem;
            }
            p{margin: 0;}
        }
        
        li{
            list-style-type: none;
        }
    }
}

.strobe:hover img {animation: strobe 3s 3;}
@keyframes strobe {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.bounce:hover img {animation: bounce 1s 3;}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
.spin:hover img {animation: spin 1s 3;}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.pulse:hover img {animation: pulse 1s 3;}
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

#footerWrapper {
    background-color: $primaryColor;
    color: $fontColorLight;
}
footer {
    padding: 0.5rem $gutter;

    section{

        &.contact, &.social, &.location{
            margin: 1rem 0;
        }   

        &.contact{
            p{
                font-size: 1.2rem;
                margin: .25rem 0;
                a{color: $fontColorLight}
                a:hover{color: $secondaryColor}
            }
            ion-icon{
                color: $secondaryColor;
                padding-right: .25rem;
            }
        } //end contact

        &.social{
            display: flex;
            justify-content: center;
            a{
                display: block;
                font-size: 1.75rem;
                padding: .5rem;
                color: $secondaryColor;
                &:hover{color: $fontColorLight;}
            }
        } // end social

        &.location{
            address{
                margin: .25rem 0;
            }
        }// end location

    }// end sections

    p{

        &.legal{
            margin: 0;
            font-weight: $lightWeight;
            text-align: center;
        }
    }
}