$primaryColor: #623B5A;
$secondaryColor: #F453D6;
$fontColorLight: #ffffff;
$fontColorDark: #000000;

$defaultFont: "Ubuntu", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 1rem;